.jumbotron{
    padding-top: 150px;
    text-align:center;
    background-image: url("https://www.iwantwallpaper.co.uk/images/galerie-wallcoverings-galerie-official-disney-mickey-mouse-logo-pattern-cartoon-childrens-wallpaper-mk3015-5-p3306-7445_image.jpg")
}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
}